.candidates-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.App {
  margin-top: 200px;
}

.candidates-grid {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.candidate-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}

.candidate-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.candidate-card input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
}

.party-icon {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-bottom: 10px;
}

.delete-icon {
  color: red;
  font-size: 18px;
  cursor: pointer;
}

.delete-icon:hover {
  color: darkred;
}

.candidate-form {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.candidate-form h2 {
  margin-bottom: 10px;
}

.save-button-container {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.save-button {
  padding: 10px 20px;
  background-color: #bffa60;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.save-button:hover {
  background-color: #c3ea86;
}

.add-form-icon {
  background-color: #bffa60;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.plus-icon {
  color: white;
}